on:
  workflow_call:
    inputs:
      application_name:
        required: true
        type: string
      platform:
        description: eb init platform option - https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/eb3-init.html
        required: true
        default: python
        type: string
      region:
        description: AWS region to deploy to
        default: us-east-2
        type: string
      # environment_name:
      #   required: true
      #   type: string
      #TODO: what are the type options here?
      # version_label:
      #   required: true
      # type: number
    # secrets:
    #   envPAT:
    #     required: true
jobs:
  build:
    name: Python install and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4

      # - uses: actions/cache@v2
      #   with:
      #     path: ${{ env.pythonLocation }}
      #     key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements.txt') }}

      - name: Install requirements
        run: |
          pip install -r requirements.txt

    # Linting, testing, etc. would go below this...
  deploy:
    name: Deploy to AWS Elastic Beanstalk
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::364804350459:role/github-actions
          aws-region: ${{ inputs.region }}

      - name: Beanstalk describe-applications
        run: aws elasticbeanstalk describe-applications

      # - name: eb install
      #   run: >
      #     git clone https://github.com/aws/aws-elastic-beanstalk-cli-setup.git;
      #     python ./aws-elastic-beanstalk-cli-setup/scripts/ebcli_installer.py;
      #     eb init ${{ inputs.application_name }} --region ${{ inputs.region }} --platform ${{ inputs.platform }};

      # --platform ${{ inputs.platform }}
      - name: Beanstalk create-application
        run: aws elasticbeanstalk create-application --application-name ${{ inputs.application_name }}

      # - name: Beanstalk create-application-version
      #   run: aws elasticbeanstalk create-application-version \
      #     --application-name ${{ inputs.application_name }} \
      #     --version-label "ver-${{ github.sha }}" \
      #     --description "commit-sha-${{ github.sha }}"

      - name: codecommit credentials
        run: |
          git config --global credential.helper '!aws codecommit credential-helper $@'; \
          git config --global credential.UseHttpPath true

      # - name: codecommit sync
      #   #TODO: setup variable for multiple regions
      #   run: git remote add codecommit-origin https://git-codecommit.us-east-2.amazonaws.com/v1/repos/${{ inputs.application_name }}
      # - name: push codecommit push
      #   run: git push codecommit-origin

      # - name: Beanstalk update-environment
      #   run: aws elasticbeanstalk update-environment \
      #     --environment-name ${{ inputs.environment }} \
      #     --version-label "ver-${{ github.sha }}"

      # - name: Generate deployment package
      #   run: zip -r deploy.zip . -x '*.git*'

      # - name: Deploy to EB

      # - name: Deploy to EB
      #   uses: einaregilsson/beanstalk-deploy@v21
      #   with:
      #     #TODO: where does this access token come from?
      #     aws_session_token: ${{ env.AWS_SESSION_TOKEN }}
      #     # aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     # aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      #     application_name: MyApplicationName
      #     environment_name: MyApplication-Environment
      #     version_label: 12345
      #     region: us-east-2
      #     deployment_package: deploy.zip
